.spacer {
  flex: 1 1 auto;
}

.navbar {
  color: white;
  padding: 5px;
}

.admin-color {
  background-color: #304d6d;
}

.student-color {
  background-color: #54bcb2;
}

.navbar-right{
  padding-right: 15px;
}

.navbar-icon{
  padding-top: 8px;
  padding-right: 15px;
}

.navbar-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.testIt {
  font-family: 'Monda', sans-serif;
}

.img-fluid {
  max-width: 10% !important;
  margin-right: 17% !important;
}

.flex {
  display: flex;
}