<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <span class="navbar-left navbar-font">Home</span>
    <span><button mat-button [matMenuTriggerFor]="users"  class="navbar-font">Users</button>
      <mat-menu #users="matMenu">
        <button mat-menu-item>New User</button>
        <button mat-menu-item>Admins</button>
        <button mat-menu-item>Mentors</button>
        <button mat-menu-item>Students</button>
      </mat-menu></span>
      <span><button mat-button [matMenuTriggerFor]="tests" class="navbar-font">Tests</button>
        <mat-menu #tests="matMenu">
          <button mat-menu-item>Q&A</button>
          <button mat-menu-item>New Test</button>
          <button mat-menu-item>Results</button>
        </mat-menu></span>
    <span class="example-spacer"></span>
    <span class="navbar-right navbar-font">Search</span>
    <span class="navbar-right navbar-font">|</span>
    <span class="navbar-right navbar-font">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>
