<div id="maincolor">
    <div class="aligner">
      <div class="aligner-item">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="save()">
              <p>Please type to get new password</p>
              <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email" required email>
                <mat-error *ngIf="isFieldInvalid('email')">
                  Please inform your email
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary">Send</button>
              <button mat-raised-button color="primary" [routerLink]="['/login']">Back</button> 

            </form>
            <br>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>