.container {
  display: flex;
  flex-direction: column;
  min-width: 26vw;
}

.container > * {
  width: 100%;
}

.button-align {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  grid-template-columns: 100%;
  grid-gap: 10px;
  width: 100% !important;
}

.mat-flat-button.mat-warn {
  background-color:#ff8b1e; 
}

.mat-flat-button.mat-accent {
  background-color: #54bcb2; 
}