<div class="container">
  <mat-form-field>
    <input matInput placeholder="Lastname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Firstname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="mentor">Mentor</mat-option>
      <mat-option value="student">Student</mat-option>
    </mat-select>
  </mat-form-field>
</div>