mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  position: relative;
  padding: 60px 1rem;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-width-input {
  width: 100%;
}

.background {
  background-color:#54bcb2;
}