<div id="maincolor">
  <div class="aligner">
    <div class="aligner-item">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>Please login to continue</p>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Email" formControlName="email" required email>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please inform your email
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please inform your password
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
          </form>
          <br>
        </mat-card-content>
        <button [routerLink]="['/login','password']">Forgotten password</button> 
      </mat-card>
    </div>
  </div>
</div>