<div class="container">
  <mat-form-field>
    <input type="text"
      id="name"
      name="name"
      matInput
      placeholder="Testname"
      [(ngModel)]="test.name">
  </mat-form-field>

  <mat-form-field>
    <input type="text"
      id="to"
      name="to"
      matInput
      placeholder="To: group or student"
      [(ngModel)]="test.userId">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Subject"
      [(ngModel)]="question.subjectId">
      <mat-option value="1">Linux</mat-option>
      <mat-option value="2">Progalapok</mat-option>
      <mat-option value="3">Progtételek</mat-option>
      <mat-option value="4">Git</mat-option>
      <mat-option value="5">Java</mat-option>
      <mat-option value="6">Express</mat-option>
      <mat-option value="7">NodeJs</mat-option>
      <mat-option value="8">Angular</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button
    color="primary"
    (click)="openDialog()">Add question</button>
  
    <mat-form-field>
      <mat-select placeholder="PROCESSING" [(ngModel)]="question.status">
        <mat-option value="PROCESSING">PROCESSING</mat-option>
        <mat-option value="PUBLISHED">PUBLISHED</mat-option>
        <mat-option value="CLOSED">CLOSED</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="text"
        id="time"
        name="time"
        matInput
        placeholder="Time"
        [(ngModel)]="test.time">
    </mat-form-field>
</div>

<button mat-flat-button
  (click)="save()" >Save</button>