<div class="container">
  <h1>New test</h1>
  <mat-form-field>
    <input type="text" id="name" name="name" matInput placeholder="Testname" [(ngModel)]="test.name">
  </mat-form-field>

  <div class="button-align">
    <button mat-flat-button color="primary" (click)="openDialog()">Add question</button>
  </div>
  <br>
  <mat-form-field>
    <mat-select placeholder="PROCESSING" [(ngModel)]="test.status">
      <mat-option value="PROCESSING">PROCESSING</mat-option>
      <mat-option value="PUBLISHED">PUBLISHED</mat-option>
      <mat-option value="CLOSED">CLOSED</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" id="time" name="time" matInput placeholder="Time" [(ngModel)]="test.time">
  </mat-form-field>
</div>
<div class="button-align-row">
  <button mat-flat-button color="primary" (click)="save()">Save</button>
  <button mat-flat-button color="accent" routerLink="/tests/list">Back</button>
</div>