.container {
  display: flex;
  flex-direction: column;
  min-width: 26vw;
  padding: 15px 30px 0 30px;
}

.container > * {
  width: 100%;
}

.container-dialog {
  display: flex;
  flex-direction: column;
  min-width: 26vw;
  
}

table {
  width: 100%;
}

p {
  font-family: Lato;
}
label {
  display: block;
}

.button-align-row {
  display: flex;
  flex-wrap: nowrap;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 15px 30px 0 30px;
}

.mat-flat-button.mat-warn {
  background-color:#ff8b1e; 
}

.mat-flat-button.mat-accent {
  background-color: #54bcb2; 
}