<h1>Add question & answer</h1>
<div class="container">
  <mat-form-field>
    <input type="text" id="question" name="question" matInput placeholder="Question" [(ngModel)]="question.text">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Subject" [(ngModel)]="question.subjectId">
      <mat-option *ngFor="let subject of subjects; let index = i" value={{subject.id}}>{{subject.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="question.type">
      <mat-option value="moretrue">Egy vagy több választós</mat-option>
      <mat-option value="freeform">Szabad szöveges</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="question.type == 'moretrue'">
    <div class="grid-container">
      <mat-form-field>
        <input [(ngModel)]="answer1.text" class="grid-item" type="text" id="1" name="1" matInput placeholder="Answer">
        <span class="spacer"></span>
      </mat-form-field>
      <mat-checkbox class="grid-item" (change)="checkValue1($event)" value="isCorrect1" [(ngModel)]="answer1.isCorrect">
      </mat-checkbox>
      <mat-form-field>
        <input [(ngModel)]="answer2.text" class="grid-item" type="text" id="2" name="2" matInput placeholder="Answer">
        <span class="spacer"></span>
      </mat-form-field>
      <mat-checkbox class="grid-item" (change)="checkValue2($event)" value="isCorrect2" [(ngModel)]="answer2.isCorrect">
      </mat-checkbox>
      <mat-form-field>
        <input [(ngModel)]="answer3.text" class="grid-item" type="text" id="3" name="3" matInput placeholder="Answer">
        <span class="spacer"></span>
      </mat-form-field>
      <mat-checkbox class="grid-item" (change)="checkValue3($event)" value="isCorrect3" [(ngModel)]="answer3.isCorrect">
      </mat-checkbox>
    </div>
    <br>
    <!-- <div class="button-container">
      <button (click)="onAddNewAnswer()" mat-mini-fab color="accent">+</button>
    </div> -->
  </div>

  <br>
  <mat-form-field>
    <mat-select placeholder="Points" [(ngModel)]="question.value">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Status" [(ngModel)]="question.status">
      <mat-option value="PUBLISHED">PUBLISHED</mat-option>
      <mat-option value="PROCESSING">PROCESSING</mat-option>
      <mat-option value="CLOSED">CLOSED</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-flat-button color="primary" (click)="save()">Save</button>