<div class="scroll">
  <h1>Add question & answer</h1>
  <div class="container">
    <mat-form-field>
      <input type="text" id="question" name="question" matInput placeholder="Question" [(ngModel)]="question.text">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Subject" [(ngModel)]="question.subjectId">
        <mat-option *ngFor="let subject of subjects; let index = i" [value]="subject.id">{{subject.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Type" [(ngModel)]="question.type">
        <mat-option value="onetrue">Egyválasztós</mat-option>
        <mat-option value="moretrue">Többválasztós</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="question.type == 'onetrue' || question.type == 'moretrue'">
      <div *ngFor="let answer of answers">
        <div class="grid-container">
          <mat-form-field>
            <input [(ngModel)]="answer.text" class="grid-item" type="text" id="answer" name="answer" matInput
              placeholder="Answer">
            <span class="spacer"></span>
          </mat-form-field>
          <mat-checkbox class="grid-item" (change)="checkValue($event)" value="isCorrect"
            [(ngModel)]="answer.isCorrect">
          </mat-checkbox>
        </div>
      </div>
      <br>
      <div class="button-container">
        <button (click)="onAddNewAnswer()" mat-mini-fab color="primary">+</button>
        <button (click)="onDeleteLastAnswer()" mat-mini-fab color="accent">-</button>
      </div>
    </div>

    <!-- <p>AnswerModel: {{ answer | json }}</p> -->

    <br>
    <mat-form-field>
      <mat-select placeholder="Points" [(ngModel)]="question.value">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" mat-dialog-close (click)="save()">Save</button>
    <br>
    <button mat-flat-button color="primary" mat-dialog-close>Back</button>

  </div>
</div>