.scroll {
  height: 450px;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 26vw;
}

.container > * {
  width: 100%;
  overflow: auto;
}

.spacer {
  flex: 1 1  auto;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 90% 10%;
}

.grid-item {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.button-align {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.button-align-row {
  display: flex;
  flex-wrap: nowrap;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.mat-mini-fab {
  box-shadow: none !important;
}

.container-header {
  margin: 25px 0 0 25px !important;
}

.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-container > * {
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  max-height: inherit !important;
}

.mat-dialog-actions {
  display: block !important;
  flex-grow: inherit;
  flex-shrink: inherit;
  padding: 12px 0 0 !important;

  &:last-child {
      margin-bottom: 0 !important;
  }
}

.mat-flat-button.mat-warn {
  background-color:#ff8b1e; 
}

.mat-flat-button.mat-accent {
  background-color: #54bcb2; 
}

.mat-mini-fab.mat-accent {
  background-color:#ff8b1e; 
}