.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.container > * {
  width: 100%;
}

.spacer {
  flex: 1 1  auto;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 90% 10%;
}

.grid-item {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.button-container {
  display: inline-grid;
  grid-template-columns: 100%;
}

.mat-mini-fab {
  box-shadow: none !important;
}