.container {
  display: flex;
  flex-direction: column;
  min-width: 26vw;
}

.container > * {
  width: 100%;
}

.button-align {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  grid-template-columns: 100%;
  grid-gap: 10px;
  width: 100% !important;
}