<h1>Profil</h1>
<div class="container">
  <mat-form-field *ngIf="isMentor || isAdmin">
    <input type="text" id="lastName" name="lastName" matInput placeholder="Lastname" [(ngModel)]="user.lastName">
  </mat-form-field>

  <mat-form-field *ngIf="isMentor || isAdmin">
    <input type="text" id="firstName" name="firstName" matInput placeholder="Firstname" [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input type="text" id="email" name="email" matInput placeholder="E-mail" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field>
    <input type="text" id="encryptedPassword" name="encryptedPassword" matInput placeholder="Password"
      [(ngModel)]="user.password">
  </mat-form-field>

  <mat-form-field *ngIf="isMentor || isAdmin">
    <mat-select placeholder="Group" [(ngModel)]="user.groupId">
      <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isMentor || isAdmin">
    <mat-select placeholder="Role" [(ngModel)]="user.role">
      <mat-option value="STUDENT">STUDENT</mat-option>
      <mat-option value="MENTOR">MENTOR</mat-option>
      <mat-option value="ADMIN">ADMIN</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="button-align">
  <button mat-flat-button color="primary" mat-dialog-close (click)="save()">Save</button>
  <button mat-dialog-close mat-flat-button color="accent">Back</button>
</div>