@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h1 {
  font-family: 'Monda', sans-serif;
  color:#1f2633;
  font-size: 27px;
}

html, body { 
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#maincolor {
  background-color:#54bcb2;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.mat-flat-button.mat-warn {
  background-color:#ff8b1e; 
}

.mat-flat-button.mat-accent {
  background-color: #54bcb2; 
}

// .container {
//   display: flex;
//   flex-direction: column;
//   padding: 15px 30px 0 30px;
// }

// .container > * {
//   width: 100%;
// }

// .container-header {
//   margin: 25px 0 0 25px !important;
// }

// .container-dialog {
//   display: flex;
//   flex-direction: column;
//   min-width: 26vw;
// }

// .button-align {
//   display: grid;
//   flex-wrap: wrap;
//   flex-direction: column;
//   grid-template-columns: 100%;
//   grid-gap: 10px;
// }

// .button-align-row {
//   display: flex;
//   flex-wrap: nowrap;
//   display: inline-grid;
//   grid-template-columns: 50% 50%;
//   grid-gap: 10px;
//   padding: 15px 30px 0 30px;
// }

// .mat-horizontal-stepper-header,
// .mat-step-header {
// //.ng-tns-c15-0 {
// //.ng-star-inserted {
//   width: 50px !important;
// }

// #cdk-step-label {
//   width: 50px !important;
// }