@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: 26px;
}

html, body { 
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#maincolor {
  background-color:#54bcb2;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.mat-horizontal-stepper-header,
.mat-step-header {
//.ng-tns-c15-0 {
//.ng-star-inserted {
  width: 50px !important;
}

#cdk-step-label {
  width: 50px !important;
}