.step {
  width: 100%;
}

.mat-step-label {
  display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
    vertical-align: middle;
    text-align: center;
}

.element-align {
  flex-direction: row;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.testbody {
  border: 3px solid #54bcb2;
  padding: 10px;
}

// .mat-step-header-ripple
.mat-ripple {
  width: 50px !important;
}

.example-card {
  max-width: 400px;
}