.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.testbody {
  border: 3px solid #54bcb2;
  padding: 10px;
}